{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate 'Log In' %}{% endblock %}
{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <p>{% translate 'Not yet member ?' %} <a href="{% url 'signup' %}">{% translate 'Register now !' %}</a></p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="{{ app_path }}">{% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" autofocus autocapitalize="none" autocomplete="username" maxlength="40" required id="id_username" placeholder="username">
                    <label for="id_username">Username :</label>
                </div>
                {{ form.username.errors }}
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" autocomplete="current-password" required id="id_password">
                    <label for="id_password">{% translate 'Password' %}:</label>
                </div>
                {{ form.password.errors }}
                <button class="w-100 btn btn-lg btn-primary" type="submit">{% translate 'Log in' %}</button>
                <hr class="my-4">
                <small><a href="{% url 'password_reset' %}">{% translate 'Lost password?' %}</a></small>
            </form>
          </div>
        </div>
    </div>
{% endblock content %}