{% extends 'base.html' %}
{% load i18n %}
{% load has_group from mvp_extras %}
{% block content %}
<!--    {% for group in user.groups.all %}-->
<!--        {% if group.name == 'administrators' %}-->
<!--        Welcome, you are in group Administrators-->
<!--        {% elif group.name == 'subscribers'%}-->
<!--        Welcome you are in group subscribers-->
<!--        {% endif %}-->
<!--    {% endfor %}-->

    {% if user|has_group:'administrators' %}
        Welcome, you are in group Administrators
    {% endif %}
    {% if user|has_group:'subscribers' %}
        Welcome, you are in group subscribers
    {% endif %}
{% endblock content %}
