{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block title %}{% translate 'Create a ticket' %}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% bootstrap_alert message.message|default:"" alert_type=message|bootstrap_message_alert_type extra_classes=message.extra_tags %}
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <h2 class="text-center">{% translate 'Create a ticket' %}</h2>
        <div class="px-4 py-2 my-4 text-end">

            <form class="p-4 p-md-4 border rounded-3 bg-light mt-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form label_class="d-flex text-start"%}
                <input type="submit" class="btn btn-primary col-2" value="{% translate 'Save' %}">
            </form>
        </div>
    </div>
{% endblock content %}
