{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{% translate 'Edit a ticket' %}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% bootstrap_alert message.message|default:"" alert_type=message|bootstrap_message_alert_type extra_classes=message.extra_tags %}
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="px-4 pb-3 my-4 text-end">
            <h2 class="text-center">{% translate 'Edit a ticket' %}</h2>
            <form class="border bg-light mt-3" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <h6 class="p-1 pt-2 my-0 text-start">{% translate 'Book / Article' %}</h6>
                <div class="px-4 pt-3 pb-2">
                    {% bootstrap_form form label_class="d-flex text-start" %}
                    <div class="text-start">
                        {% if ticket.image %}
                            <img class="border border-3 border-white rounded" height=200 src="{{ ticket.image.url }}" alt="image-{{ ticket.image.url }}">
                        {% endif %}
                    </div>

                </div>
                <div class="px-4 pt-3 pb-2">
                    <input type="submit" class="btn btn-primary col-2" value="{% translate 'Update' %}">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}