{% load get_poster_display get_range_one_to_x from mvp_extras %}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block bootstrap5_extra_head %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">{% endblock %}

<div class="lh-1 p-1 p-md-2 border rounded-3 bg-light my-2 ">
    <p class="fw-light text-end">{{ review.time_created }}</p>
    <p>{% get_poster_display review.user %} {% translate 'have publied one review' %}</p>
    <h4>{{ review.headline }} -
    {% for i in 5|get_range_one_to_x %}
        {% if i <= review.rating %}
            <i class="bi bi-star-fill"></i>
        {% else %}
            <i class="bi bi-star"></i>
        {% endif %}
    {% endfor %}</h4>
    <p>{{ review.body }}</p>
    <div class="lh-1 px-1 py-2 border border-dark-subtle rounded-3 bg-white m-2 ">
        <p class="fw-light text-end">{{ review.ticket.time_created }}</p>
        <p>{% get_poster_display review.ticket.user %} {% translate 'have asked one ticket' %}</p>
        <h5>{{ review.ticket.title }}</h5>
        <p>{{ review.ticket.description }}</p>
        <div class="d-flex  justify-content-center">
            {% if review.ticket.image %}
                <img class="img-fluid" src="{{ review.ticket.image.url }}" alt="image-{{ review.ticket.title }}">
            {% endif %}
        </div>
    </div>
    <div class="m-3 text-end">
        <a href="{% url 'MyFormUpdateReviewView' review.id %}" class="col-2 btn btn-primary">
            {% translate 'Edit' %}
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ review.id }}">
            <i class="bi bi-trash3"></i>
        </button>

        <div class="modal fade" id="staticBackdrop-{{ review.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel-{{ review.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel-{{ review.id }}">{% translate 'Deleting?' %}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{% translate 'Do you want delete the review' %} {{ review.id }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form method="POST" action="{% url 'MyFormDeleteReviewView' review.id %}">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit" value="DELETE">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>